@import url("https://fonts.googleapis.com/css2?family=Mukta+Malar:wght@400;500;600;700&family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");
.m-1 {
  margin: 1rem;
}

.p-1 {
  padding: 1rem;
}

.mt-1 {
  margin-top: 1rem !important;
}

.pt-1 {
  padding-top: 1rem !important;
}

.ml-1 {
  margin-left: 1rem !important;
}

.pl-1 {
  padding-left: 1rem !important;
}

.mr-1 {
  margin-right: 1rem !important;
}

.pr-1 {
  padding-right: 1rem !important;
}

.mb-1 {
  margin-bottom: 1rem !important;
}

.pb-1 {
  padding-bottom: 1rem !important;
}

.mx-1 {
  margin-left: 1rem !important;
}

.mx-1 {
  margin-right: 1rem !important;
}

.my-1 {
  margin-top: 1rem !important;
}

.my-1 {
  margin-bottom: 1rem !important;
}

.m-2 {
  margin: 2rem;
}

.p-2 {
  padding: 2rem;
}

.mt-2 {
  margin-top: 2rem !important;
}

.pt-2 {
  padding-top: 2rem !important;
}

.ml-2 {
  margin-left: 2rem !important;
}

.pl-2 {
  padding-left: 2rem !important;
}

.mr-2 {
  margin-right: 2rem !important;
}

.pr-2 {
  padding-right: 2rem !important;
}

.mb-2 {
  margin-bottom: 2rem !important;
}

.pb-2 {
  padding-bottom: 2rem !important;
}

.mx-2 {
  margin-left: 2rem !important;
}

.mx-2 {
  margin-right: 2rem !important;
}

.my-2 {
  margin-top: 2rem !important;
}

.my-2 {
  margin-bottom: 2rem !important;
}

.m-3 {
  margin: 3rem;
}

.p-3 {
  padding: 3rem;
}

.mt-3 {
  margin-top: 3rem !important;
}

.pt-3 {
  padding-top: 3rem !important;
}

.ml-3 {
  margin-left: 3rem !important;
}

.pl-3 {
  padding-left: 3rem !important;
}

.mr-3 {
  margin-right: 3rem !important;
}

.pr-3 {
  padding-right: 3rem !important;
}

.mb-3 {
  margin-bottom: 3rem !important;
}

.pb-3 {
  padding-bottom: 3rem !important;
}

.mx-3 {
  margin-left: 3rem !important;
}

.mx-3 {
  margin-right: 3rem !important;
}

.my-3 {
  margin-top: 3rem !important;
}

.my-3 {
  margin-bottom: 3rem !important;
}

.m-4 {
  margin: 4rem;
}

.p-4 {
  padding: 4rem;
}

.mt-4 {
  margin-top: 4rem !important;
}

.pt-4 {
  padding-top: 4rem !important;
}

.ml-4 {
  margin-left: 4rem !important;
}

.pl-4 {
  padding-left: 4rem !important;
}

.mr-4 {
  margin-right: 4rem !important;
}

.pr-4 {
  padding-right: 4rem !important;
}

.mb-4 {
  margin-bottom: 4rem !important;
}

.pb-4 {
  padding-bottom: 4rem !important;
}

.mx-4 {
  margin-left: 4rem !important;
}

.mx-4 {
  margin-right: 4rem !important;
}

.my-4 {
  margin-top: 4rem !important;
}

.my-4 {
  margin-bottom: 4rem !important;
}

.m-5 {
  margin: 5rem;
}

.p-5 {
  padding: 5rem;
}

.mt-5 {
  margin-top: 5rem !important;
}

.pt-5 {
  padding-top: 5rem !important;
}

.ml-5 {
  margin-left: 5rem !important;
}

.pl-5 {
  padding-left: 5rem !important;
}

.mr-5 {
  margin-right: 5rem !important;
}

.pr-5 {
  padding-right: 5rem !important;
}

.mb-5 {
  margin-bottom: 5rem !important;
}

.pb-5 {
  padding-bottom: 5rem !important;
}

.mx-5 {
  margin-left: 5rem !important;
}

.mx-5 {
  margin-right: 5rem !important;
}

.my-5 {
  margin-top: 5rem !important;
}

.my-5 {
  margin-bottom: 5rem !important;
}

.m-6 {
  margin: 6rem;
}

.p-6 {
  padding: 6rem;
}

.mt-6 {
  margin-top: 6rem !important;
}

.pt-6 {
  padding-top: 6rem !important;
}

.ml-6 {
  margin-left: 6rem !important;
}

.pl-6 {
  padding-left: 6rem !important;
}

.mr-6 {
  margin-right: 6rem !important;
}

.pr-6 {
  padding-right: 6rem !important;
}

.mb-6 {
  margin-bottom: 6rem !important;
}

.pb-6 {
  padding-bottom: 6rem !important;
}

.mx-6 {
  margin-left: 6rem !important;
}

.mx-6 {
  margin-right: 6rem !important;
}

.my-6 {
  margin-top: 6rem !important;
}

.my-6 {
  margin-bottom: 6rem !important;
}

.m-7 {
  margin: 7rem;
}

.p-7 {
  padding: 7rem;
}

.mt-7 {
  margin-top: 7rem !important;
}

.pt-7 {
  padding-top: 7rem !important;
}

.ml-7 {
  margin-left: 7rem !important;
}

.pl-7 {
  padding-left: 7rem !important;
}

.mr-7 {
  margin-right: 7rem !important;
}

.pr-7 {
  padding-right: 7rem !important;
}

.mb-7 {
  margin-bottom: 7rem !important;
}

.pb-7 {
  padding-bottom: 7rem !important;
}

.mx-7 {
  margin-left: 7rem !important;
}

.mx-7 {
  margin-right: 7rem !important;
}

.my-7 {
  margin-top: 7rem !important;
}

.my-7 {
  margin-bottom: 7rem !important;
}

.m-8 {
  margin: 8rem;
}

.p-8 {
  padding: 8rem;
}

.mt-8 {
  margin-top: 8rem !important;
}

.pt-8 {
  padding-top: 8rem !important;
}

.ml-8 {
  margin-left: 8rem !important;
}

.pl-8 {
  padding-left: 8rem !important;
}

.mr-8 {
  margin-right: 8rem !important;
}

.pr-8 {
  padding-right: 8rem !important;
}

.mb-8 {
  margin-bottom: 8rem !important;
}

.pb-8 {
  padding-bottom: 8rem !important;
}

.mx-8 {
  margin-left: 8rem !important;
}

.mx-8 {
  margin-right: 8rem !important;
}

.my-8 {
  margin-top: 8rem !important;
}

.my-8 {
  margin-bottom: 8rem !important;
}

.m-9 {
  margin: 9rem;
}

.p-9 {
  padding: 9rem;
}

.mt-9 {
  margin-top: 9rem !important;
}

.pt-9 {
  padding-top: 9rem !important;
}

.ml-9 {
  margin-left: 9rem !important;
}

.pl-9 {
  padding-left: 9rem !important;
}

.mr-9 {
  margin-right: 9rem !important;
}

.pr-9 {
  padding-right: 9rem !important;
}

.mb-9 {
  margin-bottom: 9rem !important;
}

.pb-9 {
  padding-bottom: 9rem !important;
}

.mx-9 {
  margin-left: 9rem !important;
}

.mx-9 {
  margin-right: 9rem !important;
}

.my-9 {
  margin-top: 9rem !important;
}

.my-9 {
  margin-bottom: 9rem !important;
}

.m-10 {
  margin: 10rem;
}

.p-10 {
  padding: 10rem;
}

.mt-10 {
  margin-top: 10rem !important;
}

.pt-10 {
  padding-top: 10rem !important;
}

.ml-10 {
  margin-left: 10rem !important;
}

.pl-10 {
  padding-left: 10rem !important;
}

.mr-10 {
  margin-right: 10rem !important;
}

.pr-10 {
  padding-right: 10rem !important;
}

.mb-10 {
  margin-bottom: 10rem !important;
}

.pb-10 {
  padding-bottom: 10rem !important;
}

.mx-10 {
  margin-left: 10rem !important;
}

.mx-10 {
  margin-right: 10rem !important;
}

.my-10 {
  margin-top: 10rem !important;
}

.my-10 {
  margin-bottom: 10rem !important;
}

@keyframes color-change {
  0% {
    color: blue;
  }
  50% {
    color: red;
  }
  100% {
    color: orange;
  }
}
@keyframes box-rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
body {
  font-family: "Poppins", sans-serif;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.d-flex {
  display: flex;
}

.fs-2 {
  font-size: 1.5rem;
}

.primary-badge {
  background-color: #046bd2;
  color: #fff;
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 20px;
  margin-left: 6px;
}

.disable {
  color: grey;
}

* {
  padding: 0;
  margin: 0;
  border: none;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.btn-primary {
  background-color: #046bd2;
  border-radius: 5px;
  padding: 15px 20px;
  line-height: 1;
  transition: 0.5s;
  color: white;
  font-weight: 600;
  cursor: pointer;
}
.btn-primary a {
  color: white;
  word-spacing: 4px;
  font-weight: 600;
}
.btn-primary:hover {
  background-color: #0062d1;
}

.btn-outline-primary {
  padding: 13px 20px;
  border: 2px solid #046bd2;
  color: #046bd2;
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.8s;
}
.btn-outline-primary:hover {
  background-color: #046bd2;
  border-radius: 5px;
  padding: 15px 20px;
  line-height: 1;
  transition: 0.5s;
  color: white;
  font-weight: 600;
}

.btn-outline-hover-primary {
  background-color: #046bd2;
  border-radius: 5px;
  padding: 15px 20px;
  line-height: 1;
  transition: 0.5s;
  color: white;
  font-weight: 600;
  cursor: pointer;
  transition: 0.5s;
}
.btn-outline-hover-primary:hover {
  padding: 13px 20px;
  border: 2px solid #046bd2;
  color: #046bd2;
  border-radius: 5px;
  font-weight: 600;
  background-color: transparent;
}

.header {
  display: flex;
  justify-content: space-around;
  line-height: 1;
  text-align: left;
  align-items: center;
  max-width: 100%;
  box-shadow: 2px 2px 10px 10px #e9e9e9;
  padding: 0px 9.5rem 0px 4.5rem;
  line-height: 1;
}
.header-brand {
  display: flex;
  align-items: center;
}
.header-brand--name {
  margin-left: 1rem;
  font-size: 18px;
  font-weight: 800;
  line-height: 1;
}
.header-brand--name .color-animation {
  margin-left: 0.1rem;
  animation: color-change 5s infinite;
  transition: 500ms;
}
.header-brand--logo {
  width: 110px;
  height: 80px;
}
.header-menu {
  display: flex;
  font-size: 16px;
  font-weight: 600;
  align-items: center;
}
.header-menu--item {
  margin-right: 14px;
}
.header-menu--link {
  color: black;
  padding: 0px 5px;
}
.header .active {
  color: rgb(14, 110, 149);
}

.form {
  background-color: #e0e0e0;
}
.form-area {
  display: flex;
  justify-content: space-between;
  padding: 0rem 0rem;
  margin: 5rem 10rem;
  box-shadow: 10px 10px 8px 10px #888888;
  background-color: #fff;
}
.form-area h2 {
  font-size: 2rem;
}
.form-area p {
  font-size: 1rem;
  color: grey;
  margin-bottom: 4rem;
}
.form-area img {
  margin-top: 10rem;
  margin-right: 5rem;
}
.form-area button {
  width: 100%;
  margin-top: 20px;
}
.form-control {
  display: block;
  padding: 1rem 6rem;
  flex-grow: 1;
  border-radius: 8px;
  margin-bottom: 1rem;
  border: 1px solid #888888;
  outline: none;
}
.form-control:hover {
  border: 1px solid #046bd2;
  box-shadow: 5px 5px 4px 5px #888888;
}
.form-card {
  margin: 2rem;
  padding: 4rem;
  border-radius: 8px;
  width: 100%;
}
.form-card select {
  font-size: 1rem;
}

main .box1 {
  position: absolute;
  border: 3px solid blue;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  left: 5%;
  top: 20%;
  animation: box-rotate linear 5s infinite;
}

.box2 {
  position: absolute;
  border: 3px solid red;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  right: 5%;
  top: 30%;
  animation: box-rotate linear 5s infinite;
}

.box-3 {
  position: absolute;
  border: 3px solid orange;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  right: 50%;
  bottom: 10%;
  animation: box-rotate linear 5s infinite;
  transform: rotate(0deg);
}

.leaf-1 {
  position: absolute;
  border: 3px solid green;
  width: 10px;
  height: 10px;
  border-radius: 30px 0px;
  left: 18%;
  bottom: 15%;
  animation: box-rotate linear 7s infinite;
  transform: rotate(0deg);
}

.leaf-2 {
  position: absolute;
  border: 3px solid blue;
  width: 10px;
  height: 10px;
  border-radius: 30px 0px;
  top: 15%;
  left: 45%;
  animation: box-rotate linear 7s infinite;
  transform: rotate(0deg);
}

.cone1 {
  position: absolute;
  border: 3px solid red;
  width: 10px;
  height: 10px;
  border-radius: 0 10px 100px;
  left: 5%;
  bottom: 50%;
  animation: box-rotate linear 5s infinite;
  transform: rotate(0deg);
}

.cone2 {
  position: absolute;
  border: 3px solid #f4284a;
  width: 10px;
  height: 10px;
  border-radius: 0 10px 50px;
  right: 18%;
  bottom: 15%;
  animation: box-rotate linear 5s infinite;
  transform: rotate(0deg);
}

.dot1 {
  position: absolute;
  top: 77%;
  left: 6%;
  width: 8px;
  height: 8px;
  background-color: #3f43fd;
  border-radius: 50%;
  z-index: -1;
  transform: rotate(360deg);
  animation: box-shape linear 5s infinite;
}

.dot2 {
  position: absolute;
  right: 5%;
  bottom: 35%;
  width: 8px;
  height: 8px;
  background-color: #f4284a;
  border-radius: 50%;
  z-index: -1;
  transform: rotate(360deg);
  animation: box-shape linear 5s infinite;
}

.dot3 {
  position: absolute;
  top: 90%;
  left: 43%;
  width: 8px;
  height: 8px;
  background-color: #f4284a;
  border-radius: 50%;
  z-index: -1;
  transform: rotate(360deg);
  animation: box-shape linear 5s infinite;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 10rem;
}
.hero-caption {
  align-items: center;
}
.hero-caption--header {
  display: block;
  text-align: left;
  font-size: 3rem;
  color: rgba(0, 0, 0, 0.824);
}
.hero-caption--content {
  flex-grow: 1;
  text-align: left;
  line-height: 1.7;
  color: grey;
}
.hero-btn {
  text-align: left;
  display: flex;
  align-items: center;
}
.hero-btn .btn-primary {
  width: 13rem;
  height: 3.5rem;
  font-size: 15px;
  text-transform: uppercase;
  margin-right: 2rem;
}
.hero-btn .btn-outline-primary {
  width: 10rem;
  height: 3.5rem;
  font-size: 13px;
  text-transform: uppercase;
}
.hero-img {
  width: 45rem;
  text-align: right;
}

.about-area {
  background-color: #046bd2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 10rem;
  margin-top: 8rem;
  line-height: 2;
}
.about-area--img {
  width: 35rem;
  padding-right: 5rem;
}
.about-area--info {
  color: #fff;
  padding-right: 2.5rem;
}
.about-area--info h2 {
  font-size: 2.8rem;
  padding-bottom: 0.5rem;
  line-height: 1.5;
}
.about-area--info p {
  color: #cfcfcf;
}
.about-area--info p em {
  color: rgba(255, 255, 255, 0.8823529412);
}

.service {
  padding: 5rem 10rem;
}
.service-header {
  -moz-text-align-last: center;
       text-align-last: center;
  margin-bottom: 2rem;
}
.service-header h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}
.service-header p {
  font-size: 1rem;
  color: grey;
}
.service-header .line {
  width: 7.5rem;
  height: 10px;
  border-radius: 10px;
  margin: 35px auto;
  background: linear-gradient(to right, red, blue);
}
.service-cards {
  display: flex;
  justify-content: space-around;
  overflow: hidden;
}
.service-card {
  width: 50rem;
  border-radius: 8px;
  cursor: pointer;
  margin: 1rem;
  box-shadow: 10px 10px 8px 10px #888888;
}
.service-card:hover {
  box-shadow: 2px 2px 8px 10px rgb(61, 206, 255);
  border: 2px solid #046bd2;
}
.service-card h2 {
  padding-top: 1rem;
  text-align: center;
}
.service-card--body {
  text-align: center;
  padding: 1rem 2rem 2rem;
  color: rgb(70, 70, 70);
}
.service-card button {
  display: block;
  margin: 0 7rem 2rem 7rem;
}

.contact {
  display: flex;
  justify-content: space-between;
  padding: 1rem 10rem;
  align-items: center;
}
.contact-details {
  box-shadow: 10px 10px 8px 10px #888888;
  margin-bottom: 100px;
  margin-top: 20px;
}
.contact-detail {
  box-shadow: 10px 10px 8px 10px #888888;
  padding: 30px;
  margin: 30px;
}
.contact-detail:hover {
  box-shadow: 15px 15px 10px 12px #888888;
}/*# sourceMappingURL=main.css.map */