@use"../ABSTRACTS/function" as func;

@use"../ABSTRACTS/mixins" as mixins;

.register {
    background-color: rgb(181, 181, 181);
    padding: 5rem 10rem;

    @include mixins.responsive(xs) {
        width: 100%;
        padding: 3rem 0rem;
        margin-right: 3rem;
    }

    &-card {
        display: flex;
        justify-content: space-between;
        background-color: #fff;
        box-shadow: 10px 10px 8px 10px #888888;
        border-radius: 6px;
        padding: 3rem;

        @include mixins.responsive(xs) {
            flex-direction: column-reverse;
            padding: 0px 5px;
        }

        @include mixins.responsive(sm) {
            flex-direction: column-reverse;

        }

        & h2 {
            font-size: 2rem;

            @include mixins.responsive(xs) {
                text-align: center;
            }

        }

        & p {
            font-size: 1rem;
            color: grey;
            margin-bottom: 4rem;

            @include mixins.responsive(xs) {
                text-align: center;
                padding: 1rem 2rem;
            }
        }


        &--form {
            display: block;

            @include mixins.responsive(xs) {
                padding: 1rem 1rem;
            }

            @include mixins.responsive(sm) {
                padding: 1rem 1rem;
            }

            & button {
                width: 95%;
                margin-top: 20px;

                @include mixins.responsive(xs) {
                    width: 100%;
                }

                @include mixins.responsive(sm) {
                    width: 100%;
                }

            }
        }

        &--img {
            width: 100%;

            @include mixins.responsive(xs) {
                width: 95%;
                padding-bottom: 1rem;
            }

            @include mixins.responsive(sm) {
                width: 100%;
                padding-bottom: 1rem;
            }
        }

    }
}