@use"../BASE/global";
@use"../COMPONENTS/button";

@use"../ABSTRACTS/mixins" as mixins;

.header {
    position: fixed;
    width: 100%;
    display: flex;

    z-index: 10;
    background: #fff;
    padding: 0rem 10rem;
    display: flex;
    line-height: 1;

    align-items: center;

    border-bottom: 2px solid #e9e9e9;

    @include mixins.responsive(xs) {
        padding: 1.5rem 0px;
        justify-content: space-around;

    }

    @include mixins.responsive(sm) {
        padding: 1rem 6rem;
    }

    @include mixins.responsive(lg) {
        padding: 1rem 2rem;
    }


    //brand name
    &-brand {
        display: flex;
        align-items: center;


        @include mixins.responsive(xs) {

            text-align: start;
        }

        @include mixins.responsive(sm) {
            padding-right: 6rem;
        }

        @include mixins.responsive(lg) {
            padding-right: 3rem;
        }

        &--name {
            margin-left: 1rem;
            font-size: 18px;
            font-weight: 800;
            line-height: 1;

            @include mixins.responsive(xs) {
                font-size: 1.5rem;
                font-weight: 600;
            }

            .color-animation {
                margin-left: 0.1rem;
                animation: color-change 5s infinite;
                transition: 500ms;

                @include mixins.responsive(xs) {

                    display: none;

                }

            }
        }

        &--logo {
            width: 110px;
            height: 80px;

            @include mixins.responsive(xs) {
                display: none;
            }

            @include mixins.responsive(sm) {
                width: 90px;
                height: 60px;
            }

            @include mixins.responsive(lg) {
                width: 80px;
                height: 55px;
            }
        }

    }

    //nav-menus
    &-menu {
        display: flex;
        font-size: 16px;
        font-weight: 600;
        align-items: center;
        line-height: 1;
        padding-left: 15rem;

        @include mixins.responsive(xs) {
            display: none;

        }

        @include mixins.responsive(sm) {
            display: none;

        }

        @include mixins.responsive(lg) {
            padding-left: 0rem;

        }



        &--item {
            margin-right: 14px;

            @include mixins.responsive(lg) {
                margin-right: 7px;
            }

        }

        &--link {
            color: black;
            padding: 0px 5px;

            @include mixins.responsive(lg) {
                padding: 0px 5px;
            }
        }
    }



    .active {
        color: rgb(14 110 149);
    }

    &--bars {
        display: none;

        @include mixins.responsive(xs) {
            display: flex;
            font-size: 2rem;
            font-weight: 100;

        }

        @include mixins.responsive(sm) {
            display: flex;
            font-size: 2rem;
            font-weight: 100;

        }
    }

    &--tites {
        display: none;
        text-align: end;
    }
}